body {
  margin: 0 auto;
  padding: 40px 75px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
h1 {
  padding: 20px 0px 0px 0px;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-family: "Poppins", sans-serif;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
.sunicon {
  font-size: 45px;
}
.currenttemp {
  font-size: 40px;
  line-height: 3;
}
.units {
  font-size: 14px;
   line-height: 4;
}
ul {
  list-style: none;
  font-size: 15px;
}
.weather-app {
  border: 1px solid black;
  border-radius: 15px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/073/343/original/s.jpeg?1679610033");
  background-size: cover;
  padding: 25px;
  margin: 20px auto;
  max-width: 600px;
  width: fit-content;
}
#search-form,
span {
  display: inline;
}
#current-location-button {
  border-radius: 25px;
}
.weather-forecast {
   padding: 5px;
   text-align: center;
   font-size: 14px;
}
footer {
  text-align: center;
  font-size: 14px;
}